.label-avatar {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
}


.label-logo {
    width: 50%;
    height: 150px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
}



.plus_foto_perfil {
  background: #00c292;
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 1;
    border-radius: 100px;
    border: 5px solid #00c292;
    text-align: center;
    padding-top: 33%;
    text-align: center;
    padding-top: 23%;
    color: #00c292;
    font-size: 50px;
    transition: .5s all ease;
}


.plus_foto_square{
        background: #00c292;
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 1;
    border-radius: 12px;
    /* border: 5px solid #00c292; */
    text-align: center;
    padding-top: 33%;
    text-align: center;
    padding-top: 12%;
    color: #00c292;
    font-size: 50px;
    transition: .5s all ease;
}

.plus_foto_perfil:hover,.plus_foto_square:hover {
    background: #00c292;
    background: #00c292;
    color: white;
    opacity: .5;
}




.input-img {
    visibility: hidden;
    position: absolute;
}


.preview-img {
    width: 100% !important;
    height: 100% !important;
    border: 5px solid #83c331;
    border-radius: 100px;
}


.preview-img-square{
    width: 100% !important;
    height: 100% !important;
    border: 3px solid #00c292;
    border-radius: 10px;
}


.toggler-disabled{
	background: #f1f0f0;
    pointer-events: none;
}


.btn + .disabled{
pointer-events: none;
}


.preview-img-nota{
    width: 100px !important;
    height: 100px !important;
    border-radius: 5% !important;
    margin: auto !important;
    display: block !important;
}