
a,button{
  cursor: pointer !important;
}

.parallax{
  background: #fff fixed no-repeat 50% 50%;
  background-size: cover; 
}

.montserrat{
  font-family: "Montserrat";
}

.roboto {
  font-family: "Roboto";
}

.tshadow{
  text-shadow: 0 0 4px #0000009e;
}

.fw100{
  font-weight: 100 !important;
}

.fw200{
  font-weight: 200 !important;
}

.fw300{
  font-weight: 300 !important;
}

.fw400{
  font-weight: 400 !important;
}

.fw500{
  font-weight: 500 !important;
}

.fw600{
  font-weight: 600 !important;
}

.fw700{
  font-weight: 700 !important;
}

.fw900{
  font-weight: 900 !important;
}

.sb{
  color: #1f3760 !important;
}



.no-margin{
  margin:0 !important;
}

.no-border{
  border:none;
}

.mauto{
  margin: auto !important;
}

.space100{
  height: 100px;
}

.space75{
  height: 75px;
}

.space35{
  height: 35px;
}

.space50{
  height: 50px;
}

.space25{
  height: 25px;
}

.space15{
  height: 15px;
}


.space10{
  height: 10px;
}


.w100{
  width: 100%;
}

.w80{
  width: 80%;
}

.machine{
  font-family: 'Vollkorn', serif;
}

.w{
  color: white;
}

.celeste{
  color: #4bcaff;
}


.ls{
  letter-spacing: 4px;
}

.ls_small{
  letter-spacing: 2px;
}

.tdn{
  text-decoration: none !important;
}
.nopadding-bottom{
  padding-bottom: 0 !important;
}

.nopadding-top{
  padding-top: 0 !important;
}

.nopadding{
  padding: 0 !important;
}

.text-light{
  font-weight: 100;
}





.cover{
  background-size: cover;
}
.bg-black{
  background: #2f3131;
}

.bg-gray{
  background: #edeeef;
}

.bg-blue{
  background: #1c7ce0;
}

.bg-green{
  background: #53e4b5;
}

.bg-green-light{
  background: #a9f5dc;
}

.logo{
  max-width: 250px;
  transition: .5s all ease;
}

.sticky-header .logo{
  max-width: 170px;
} 

.menu-top{
  margin-bottom: 70px;
  transition: .5s all ease;
}

.sticky-header .menu-top{
  margin-bottom: 30px !important;
}

.relative{
  position: relative;
}

.nopadding{
  padding: 0;
}

.section-padding{
  padding: 50px 0px;
}

.section-padding-mid{
  padding: 80px 0px;
}

.section-padding-big{
  padding: 120px 0px;
}

.bg-gray{
  background: #edeeef;
}

.blue{
  color: #1c7ce0 !important;
}

.noevents{
  pointer-events: none;
}

.pointer{
  cursor:pointer;
}

.gray-overlay-bottom{
  background: #edeeef;
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}






.superbig-text{
  font-size: 70px;
  font-weight: bold;
}

.superbig-text {
  font-size: calc(0.8rem + 2.5vw);
  /*font-size: calc(1rem + 2.5vw);*/
}

.sticky-header{
  padding: 0px !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding-bottom: 10px !important;
}


.line-h{
  line-height: 30px;
}

.line-h-small{
  line-height: 20px;
}

.bg-white{
  background: white;
}

.bg-celeste{
  background: #dbf4ff;
}

.bg-celeste-strong{
  background: #b3e9ff;
}

.bg-celeste-strong-dos{
  background:#4bcaff;
}

.gs{
  filter: grayscale(100%);
  transition: .5s all ease;
}

.gs:hover{
  filter: grayscale(0%);
}



@media screen and (min-width: 1200px) {
 .link-servicio,.link-servicio:visited,.link-servicio:active,.link-servicio-green,.link-servicio-green:visited,.link-servicio-green:active{
  font-size: 36px !important;
}
}


.controls{
  position: absolute;
  bottom: 43%;
  width: 100%;
  margin: auto;
  z-index: 10;
}



  .text-underline{
    text-decoration: underline;
  }

 
  .flex{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  .gray{
    color: #2f3131;
  }

/*
  .logo-footer{
    max-width: 200px;
  }*/
/*
  .footer-menu{
    list-style: none;
    font-weight: 600;
    line-height: 25px;
  }

  .footer-menu a{
    color: white !important;
        font-size: 13px;
  }

  .footer-menu a:hover{
    color: #4bcaff;
    text-decoration: none;
  }

  .footer-right p{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: white;
  }
*/
  .footer-icon{
    color: white !important;
    font-size: 22px;
    margin-right: 10px;
  }

  .arrow img{
    max-width: 40px;
  }




  .cover{
    background-size: cover;
    background-position: center;
  }



  .black{
    color: black;
  }

  .map{
    border: 0;
    width: 100%;
    height: 380px;
    /*min-height: 500px;*/
    box-shadow: 0 0 7px #00000075;
  }


 
.wp-btn{
  background: #25d366;
  font-size: 20px;
  padding: 1px 5px;
  color: white;
  border-radius: 7px;
  box-shadow: 0 0 6px #00000047;
  position: fixed;
  right: 5px;
  bottom: 9px;
  z-index: 100000;
}



@media only screen and (min-width: 1347px) {
 .container {
  width: 1347px;
}
}



@media only screen and (max-width: 768px) {
  .section-padding {
    padding: 25px 0px !important;
  }


  .nopadding-bottom{
    padding-bottom: 0 !important;
  }

  .nopadding-top{
    padding-top: 0 !important;
  }

}



@media only screen and (max-width: 576px) {
  .section-padding {
    padding: 12.5px 0px !important;
  }


  .nopadding-bottom{
    padding-bottom: 0 !important;
  }

  .nopadding-top{
    padding-top: 0 !important;
  }

}



/*colors*/

.green{
  color: #66bb65 !important;
}

a.green:hover{
  color: #0f460e !important;
}

/*hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgb(97, 186, 109) !important;
}*/



/*input*/




#radioBtn .notActive, #radioBtnEmp .notActive, #radioBtnfiltros .notActive{
  color: #1e7e34 !important;
  background-color: #fff;
}

#radioBtn, #radioBtnEmp, #radioBtnfiltros{
  width: 100%;
}

.radioBtn25 a{
  width: 25%;
}

.radioBtn100 a{
  width: 100%;
}



.radioBtn16 a{
  width: 16%;
}

.radioBtn20 a{
  width: 20%;
}

.radioBtn33 a{
  width: 33%;
}

.radioBtn50 a{
  width: 50%;
}
